<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
<div id="root">
    <!-- todo Vue Instance -->
    <div id="vueInstance">
        {{msg}}<br/>
        {{reserveMsg}}<br/>
    </div>
    <div id="freezeInstance">{{msg}}</div>
    <div id="lifecycleHookInstance"></div>


    <!-- todo Vue Template -->
    <div id="textTemplate">
        <span>Message: {{ msg }}</span>
        <span v-once>Message: {{ msg }}</span><!-- v-once 属性表示创建之后就不可改变了 -->
    </div>

    <div id="rowHtmlTemplate">
        <p>HTML String: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p><!-- v-html 表示直接插入原生的 html 标签 -->
    </div>

    <input id="attributeTemplate" type="text" v-bind:value="value"/>

    <div id="jsExpression">
        {{ number + 1 }}<br/>
        {{ ok ? 'YES' : 'NO' }}<br/>
        {{ message.split('').reverse().join('') }}<br/>
        <div v-bind:id="'list-' + id"></div>
    </div>


    <div id="directives"><!-- 指令，命令 -->
        <p v-if="seen">Now you see me</p><!-- 条件渲染 -->
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div><!-- 循环渲染 -->
        <a v-bind:href="url"> ... </a><!-- 绑定属性 -->
        <a :href="url"> ... </a><!-- 绑定属性，简写 -->
        <a v-on:click="doSomething"> ... </a><!-- 绑定事件 -->
        <a @click="doSomething"> ... </a><!-- 绑定事件，简写 -->
        <a v-bind:[attributeName]="url"> ... </a>
        <a v-on:[eventName]="doSomething"> ... </a>
    </div>

    <div id="modifier"><!-- 指令修饰符 -->
        <form v-on:submit.prevent="onSubmit"> ... </form><!-- 修饰符： .prevent 表示 event.preventDefault() -->
    </div>





</div>
<script src="../frame/vue-2.6.10/vue.min.js"></script>
<script>
    /** todo Create a Vue Instance */
    var vueInstance = new Vue({
        el: '#vueInstance',        //  document.querySelector('#root');
        /** 静态属性：data 属性绑定所有当前实例（vueInstance）对应 HTML 标签的属性
         * Vue 会同步 Vue 实例的属性值 和 data 实例的属性值， 即 vueInstance.attr = 1; 等价于 data.attr = 1;
         * */
        data: {
            msg: '1234567',
            firstName: 'Foo',
            lastName: 'Bar',
            fullName: 'Foo Bar',
        },
        /** 计算属性： 保存需要经过计算的属性 */
        computed: {
            reserveMsg: function(){
                return this.msg.split('').reverse().join('');
            },
            fullName:{
                get: function () { // 属性取值和赋值的拦截代码
                    return this.firstName + ' ' + this.lastName
                },
                set: function (newValue) {
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            }
        },
        methods: {
            reserveMsgMethod: function(){
                return this.msg.split('').reverse().join('');
            }
        },
        /** 当指定属性改变时执行的函数 */
        watch: {
            firstName: function (val) {
                this.fullName = val + ' ' + this.lastName
            },
            lastName: function (val) {
                this.fullName = this.firstName + ' ' + val
            }
        }

    });

    /** todo 固化一个组件的 data 属性 */
    var freezeData = {msg: 'stable data'};
    Object.freeze(freezeData);     // 使用该方法，让 freezeComponent 组件的 data 属性不可改变
    var freezeInstance = new Vue({
        el: '#freezeInstance',
        data: freezeData,
    });


    /** todo Vue 实例自带属性和方法，以 $ 开头，用于区分用户自定义的属性和方法 */

    /** todo Vue LifeCycle Hook（生命周期中的钩子函数）实例声明周期中可以自定义编辑代码的方法 */
    var lifecycleHookInstance = new Vue({
        el: '#lifecycleHookInstance',
        data: {},
        create: function(){},       // 此处不能使用 ()=>{} 箭头函数
        mounted: function(){},
        update: function(){},
        destroyed: function(){},
    });


    /** #Text */
    var textTemplate = new Vue({
        el: '#textTemplate',
        data: {
            msg: '发文',
        }
    });
    /** #Raw HTML */
    var rowHtmlTemplate = new Vue({
        el: '#rowHtmlTemplate',
        data: {
            rawHtml: '<span style="color: red;">Red Word</span>',
        }
    });
    /** #Attribute */
    var attributeTemplate = new Vue({
        el: '#attributeTemplate',
        data: {
            value: 'attribute',
        }
    });
    /** #jsExpressions */
    var jsExpressions = new Vue({
        el: '#jsExpressions',
        data: {
            number: 1,
            ok: false,
            id: 'qwer',
            message: '1234567',
        }
    });
    /** #Text */
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    });


    /** todo Create a Vue Component */
    Vue.component('button-counter', {
        data: function () {  // 必须使用 function
            return {
                count: 0
            }
        },
        props: ['title'], // 接收组件标签属性的值
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });


</script>
</body>
</html>
